<h2>Something of interest</h2>
<p>Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed.
Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet
mollis justo facilisis quis. Sed sagittis mauris amet tellus gravida
lorem ipsum dolor sit amet consequat blandit.</p>
<footer class="controls">
	<a href="#" class="button">Oh, please continue ....</a>
</footer>
