<section>
	<h2>Who are you guys?</h2>
	<ul class="small-image-list">
		<li>
			<a href="#"><img src="/images/pic2.jpg" alt="" class="left" /></a>
			<h4>Jane Anderson</h4>
			<p>Varius nibh. Suspendisse vitae magna eget et amet mollis justo facilisis amet quis.</p>
		</li>
		<li>
			<a href="#"><img src="/images/pic1.jpg" alt="" class="left" /></a>
			<h4>James Doe</h4>
			<p>Vitae magna eget odio amet mollis justo facilisis amet quis. Sed sagittis consequat.</p>
		</li>
	</ul>
</section>

<section>
	<h2>How about some links?</h2>
	<div>
		<div class="row">
			<div class="6u 12u(mobile)">
				<ul class="link-list">
					<li><a href="#">Sed neque nisi consequat</a></li>
					<li><a href="#">Dapibus sed mattis blandit</a></li>
					<li><a href="#">Quis accumsan lorem</a></li>
					<li><a href="#">Suspendisse varius ipsum</a></li>
					<li><a href="#">Eget et amet consequat</a></li>
				</ul>
			</div>
			<div class="6u 12u(mobile)">
				<ul class="link-list">
					<li><a href="#">Quis accumsan lorem</a></li>
					<li><a href="#">Sed neque nisi consequat</a></li>
					<li><a href="#">Eget et amet consequat</a></li>
					<li><a href="#">Dapibus sed mattis blandit</a></li>
					<li><a href="#">Vitae magna sed dolore</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
