<h2>Useful links</h2>
<div>
	<div class="row">
		<div class="4u 12u(mobile)">
			<ul class="link-list">
				<li><a href="https://github.com/mi-g/express-ads" target="_blank">Express-ads on github</a></li>
				<li><a href="https://github.com/mi-g/express-ads/issues" target="_blank">Issues</a></li>
				<li><a href="https://github.com/mi-g/exskel" target="_blank">Exskel on github</a></li>
			</ul>
		</div>
		<div class="4u 12u(mobile)">
			<ul class="link-list">
				<li><a href="https://github.com/mi-g/express-ads-adsense" target="_blank">Express-ads-adsense on github</a></li>
				<li><a href="https://github.com/mi-g/express-ads-chitika" target="_blank">Express-ads-chitika on github</a></li>
			</ul>
		</div>
		<div class="4u 12u(mobile)">
			<ul class="link-list">
				<li><a href="https://nodejs.org/" target="_blank">Node.js</a></li>
				<li><a href="http://expressjs.com/" target="_blank">Express.js</a></li>
				<li><a href="http://html5up.net/" target="_blank">Html5up</a></li>
			</ul>
		</div>
	</div>
</div>
