
<form method="POST" action="/user/login" class="form-horizontal" role="form">

    <div class="form-group">
        <label for="username" class="col-sm-4 control-label">Login</label>
        <div class="col-sm-4">
			<input id="username" name="username" type="text" placeholder="User name" class="form-control"/>
        </div>
	</div>
    <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Password</label>
        <div class="col-sm-4">
			<input id="password" name="password" type="password" placeholder="User password" class="form-control"/>
        </div>
	</div>

    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
			<input class="btn btn-primary" type="submit" value="Login"/>
        </div>
	</div>

</form>
